<a href="https://colab.research.google.com/github/Gilmore-Floyd-R-Lozano/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [ ]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

Python Comment

In [ ]:
#This is a comment
print("Hello world!")

Hello world!

Phyton Variable

In [ ]:
#Single variable with single value
x = 1

#Single variable with multiple values
array = [1,2,3]
print (array)

#Multiple variables with single value

a = b = c = "Maria"
print(a)
print(b)
print(c)

[1, 2, 3]
Maria
Maria
Maria

Casting

In [ ]:
n = int(4)
print(n)

4

Type() function

In [ ]:
c = "Sally"
d = 5.6

print(type(c))
print(type(d))

<class 'str'>
<class 'float'>

"Double quotes" or 'Single quotes'

In [1]:
#single quotes
y = 'John'
print(y)

#double quotes
y = "John"
print(y)

John
John

Case Sensitive

In [2]:
a = 4
A = "Sally"

print(a)
print(A)

#A will not overwrite a

4
Sally

Multiple Variables

In [3]:
x,y,z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [4]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [8]:
x = "enjoying"
print("Python programming is " + x)

#Other way:

x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python programming is enjoying
Python is enjoying

Arithmetic Operations

In [12]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
sum = x + y
sum

8

8

Assignment Operators

In [16]:
a,b,c = 0,-1,6
c = 3
c

3

Comparison & Logical Operators

In [19]:
a,b,c = 0,-1,6
a>b and c>b

True

Identity Operators

In [20]:
a,b,c = 0,-1,5
a is c

False