<a href="https://colab.research.google.com/github/Gilmore-Floyd-R-Lozano/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [4]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

Python Comment

In [5]:
#This is a comment
print("Hello world!")

Hello world!

Phyton Variable

In [11]:
#Single variable with single value
x = 1

#Single variable with multiple values
array = [1,2,3]
print (array)

#Multiple variables with single value

a = b = c = "Maria"
print(a)
print(b)
print(c)

[1, 2, 3]
Maria
Maria
Maria

Casting

In [15]:
n = int(4)
print(n)

4

Type() function

In [16]:
c = "Sally"
d = 5.6

print(type(c))
print(type(d))

<class 'str'>
<class 'float'>