<a href="https://colab.research.google.com/github/Gilmore-Floyd-R-Lozano/OOP-58001/blob/main/list_tuple_and_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [ ]:
def remainder(n,m):
  while True:
    if n-m < 0:
      return n
    else:
      n = n - m
remainder(10,4)

2

In [ ]:
class Shapes:
  def __init__(self,length,width):
    self.length = length
    self.width = width
  def area(self):
    return self.length*self.width
rectangle = Shapes(10,5)
rectangle.area()

50

In [ ]:
class Shapes:
  def __init__(self,side):
    self.side = side
 # def arearec(self):
  #  return self.length*self.width
  def areasqr(self):
    return self.side**2
#rectangle = Shapes(10,5)
square = Shapes(5)
#rectangle.area()
square.areasqr()

25

In [ ]:
pow(10,2)
array = ["apple","banana","orange"]
array.insert(0,"cherry")
print(array)

['cherry', 'apple', 'banana', 'orange']

In [ ]:
#create your own fucntion that will show your full name and age
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def nameage(self):
    return self.name+ self.age
nameandage = Person ("Gilmore Floyd"," 18")
nameandage.nameage()

'Gilmore Floyd 18'

In [ ]:
#create your own fucntion that will show your full name and age
class Person:
  def __init__(self):
    self.name = input('Enter Name: ')
    self.age = input('Enter Age: ')
  def nameage(self):
    print("Name: ",self.name,"\n" "Age: ", self.age)
nameandage = Person()
nameandage.nameage()

Enter Name: Gilmore Floyd R. Lozano
Enter Age: 19
Name:  Gilmore Floyd R. Lozano
Age:  19

List

In [ ]:
pi = 3.14159
varList=['abc',1,'def',2]
print(varList[0])
varList.append('ghi')
print(varList)
varList.remove(2)
print(varList)
varList.insert(3,3)
print(varList)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 3, 'ghi']

Dictionaries

In [ ]:
students = {
    1:"ana",
    2:"billy",
    3:"maria",
    4:"joy",
    3:"bessy"
}
print (students)

{1: 'ana', 2: 'billy', 3: 'bessy', 4: 'joy'}