<a href="https://colab.research.google.com/github/Gilmore-Floyd-R-Lozano/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**For Loop**

In [ ]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

**break statement**

In [ ]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    print(x)        #It only displays Thursday
    break

Thursday

In [ ]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)          #It displays from Sunday to Wednesday

Sunday
Monday
Tuesday
Wednesday

In [ ]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Tuesday":
    print(x)      
  if x == "Wednesday":
    print(x)

Tuesday
Wednesday

In [ ]:
#

In [ ]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Tuesday" or x == "Wednesday":
    print(x)      #It displays only Tuesday and Wednesday

Tuesday
Wednesday

Looping through a string

In [ ]:
for x in "week":
  print(x)

w
e
e
k

In [ ]:
for x in "Gilmore":
  print(x)

G
i
l
m
o
r
e

**Nested Loops**

In [ ]:
adjective=["red","big","tasty"]
fruits = ["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**While Loop**

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1 #i+=1 = i=i+1 Assignment Operator

1
2
3
4
5

In [ ]:
i = 1
while i <= 6:
  print(i)
  i += 1 #i+=1 = i=i+1 Assignment Operator

1
2
3
4
5
6

In [ ]:
#using break statement
i = 1
while i<6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [ ]:
#using break statement
i = 1
while i<6:
  if i == 3:
    print(i)
    break
  i+=1

3

**The else Statement**

In [ ]:
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Application 1**

In [ ]:
x=0
while x <=10:
  print("Hello "+ str(x))
  x+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

**Application 2**

In [ ]:
x=1
while x<10:
  if x>=3:
    print(x)
  x+=1

3
4
5
6
7
8
9

In [ ]:
for x in range(10):
  if x >= 3 and x<10:
    print(x)

3
4
5
6
7
8
9

**CONTINUATION**

Range()function

In [ ]:
for q in range(2):
  print(q)

0
1

In [ ]:
for q in range(1,2):
  print (q)

1

In [ ]:
for q in range(2,7,2):
  print (q)

2
4
6